<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="fotosocial-register-dm">
  <template>
  </template>

  <script>
    /**
     * `fotosocial-register-dm`
     * data manager para registrar usuarios nuevos
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialRegisterDm extends Polymer.Element {
      static get is() { return 'fotosocial-register-dm'; }
      static get properties() {
        return {
          user: {
            type: Object,
            value: {}
          }
        };
      }

      saveUserLocalStorage() {
        let fotosocial = localStorage.getItem('fotosocial') ? JSON.parse(localStorage.getItem('fotosocial')) : false;
        if (fotosocial) {
          fotosocial.users.push(this.user);
          localStorage.setItem('fotosocial', JSON.stringify(fotosocial));
        } else {
          let newfotosocial = {
            users: [
              this.user
            ]
          } 
          localStorage.setItem('fotosocial', JSON.stringify(newfotosocial));
        }
        console.log(localStorage.getItem('fotosocial'));
      }
    }

    window.customElements.define(FotosocialRegisterDm.is, FotosocialRegisterDm);
  </script>
</dom-module>
